nav {
  border-bottom: 1px solid #006ac0;
  background-color: white;
}

.logo_1 {
  position: absolute;
  width: 9.93%;
  height: 50.99px;
  left: 12.5%;
  top: 18px;
}

.logo_2 {
  left: 23.2%;
  top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 10px;

  margin-bottom: 10px;
  color: #000000;
}

@media only screen and (max-width: 1024px) {
  .link_1,
  .link_2,
  .link_3,
  .link_4 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
    line-height: 50.02px;
    text-align: center;
    color: #000;
  }

  .vector {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .link_1 {
    position: absolute;
    height: 19px;
    left: 41.1%;
    top: 20px;
    font-style: normal;
    font-weight: 385;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
  }

  .link_2 {
    position: absolute;

    height: 19px;
    left: 49.1%;
    top: 20px;
    font-style: normal;
    font-weight: 385;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
  }

  .link_3 {
    position: absolute;

    height: 19px;
    left: 57.1%;
    top: 20px;
    font-style: normal;
    font-weight: 385;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
  }

  .link_4 {
    position: absolute;

    height: 19px;
    left: 67.1%;
    top: 20px;
    font-style: normal;
    font-weight: 385;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
  }
}

.vector {
  width: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vector_1 {
  width: 15px;
  height: 14px;
  top: 30px;
  left: 82.6%;
  gap: 0px;
  opacity: 0px;
}

.vector_2 {
  width: 15px;
  height: 14px;
  top: 30px;
  left: 84.5%;
  gap: 0px;
  opacity: 0px;
}

.vector_3 {
  width: 9px;
  height: 17px;
  top: 30px;
  left: 86.5%;
  gap: 0px;
  opacity: 0px;
}

.a {
  text-decoration: none;
}

.nav_border {
  /* width: 100%;
  border: 1px solid #006ac0;
  opacity: 0px; */
  display: none;
}

.text_1 {
  width: 67%;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  line-height: 47px;
  /* margin-top: 100px; */
  color: #000000;
}

@media only screen and (min-width: 1024px) {
  .timeline_section {
    margin-top: 50px !important;
  }
  .elevate_text {
    margin-top: 100px !important;
  }
  .exclusive_title {
    margin-top: 50px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .text_1_wrapper {
    /* padding-left: 30% !important; */
  }
}
@media only screen and (max-width: 1024px) {
  .text_1 {
    width: 100%;
  }
  .text_1_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn_1 {
  background: #ce0024;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 50px;
}

.flex_one {
  display: flex;
}

.width-one {
  width: 50%;
}

.width-two {
  width: 50%;
}

.width-three {
  width: 10%;
}

@media only screen and (max-width: 1024px) {
  .vectors {
    display: none;
  }
  .mobilevectors {
    width: 75%;
  }
  .accordion-content > div {
    align-items: center;
    gap: 0px;
  }
  .accordion_style_img {
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .mobilevectors {
    display: none;
  }
  .accordion_style_img {
    margin-left: 100px;
  }
  .accordion_style_text {
    margin-top: 35px;
    width: 60%;
  }
}

.flex_two {
  display: flex;
  gap: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .text_2 {
    text-align: center;
  }
  .gap_min {
    gap: 50px;
  }
}

.text_2 {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
}

.background {
  margin-top: 50px;
  padding: 15px;
  background: #006ac0;
}

.text_5 {
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  line-height: 51px;
  margin-top: 30px;
  text-align: center;
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  .text_5 {
    /* padding: 0 150px; */
  }
}

.pizza_image {
  margin-top: 40px;
}

.text_6 {
  font-weight: 350;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 160%;
  margin-top: 40px;
  color: #000000;
}

@media only screen and (min-width: 1024px) {
  .text_6 {
    margin-left: 115px;
    width: 77.8%;
  }
}

.accordion-container {
  padding: 30px 0;
  height: fit-content;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.accordion-container > div {
  width: 74%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1024px) {
  .accordion-container > div {
    width: 100%;
  }
}

button.faqs {
  position: relative;
  border: none;
  text-align: left;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  padding-top: 35px;
  white-space: normal;
  color: #000;
  min-width: 85%;
  max-width: 85%;
}

.faqs-content {
  background-color: white;
  padding: 0 40px;
  width: 74%;
  max-height: 0;
  overflow: hidden;
  margin-left: 35px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28.8px;
  color: #3b3b3b;
  text-align: left;
  width: 75%;
  transition: max-height 0.2s ease-in-out;
}

button.faqs::before {
  content: url("./faqs_plus.png");
  position: absolute;
  left: 115%;
  top: 75%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1024px) {
  button.faqs::before {
    top: 60%;
    left: 105%;
  }
}

@media only screen and (max-width: 1024px) {
  .interested_text {
    width: 100% !important;
  }
  .contact_pic {
    width: inherit;
  }
  .contact_faq_pic {
    justify-content: center !important;
  }
  .pizza_image {
    width: inherit;
  }
  .exclusive_img {
    display: none;
    width: inherit;
    padding-left: 0px !important;
  }
  .exclusive_title,
  .exclusive_text {
    margin-left: 0px !important;
    width: 100% !important;
  }

  .timeline_img {
    display: none;
    margin-left: 0px !important;
    width: 100% !important;
  }
  .timeline_img > img {
    width: inherit !important;
  }
}

@media only screen and (max-width: 1024px) {
  .single_mobile {
    flex-direction: column;
  }
  .single_mobile_reverse {
    flex-direction: column-reverse;
  }
  .hidden_mobile {
    display: none;
  }

  .width-one {
    width: 100%;
  }
  .width-two {
    width: 100%;
  }
}

button.faqs.is-open::before {
  content: url("./faqs_minus.png");
}

button.accordion {
  position: relative;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
  outline: none;
  text-align: left;
  padding: 20px;
  font-style: normal;
  font-weight: 350;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 160%;
  color: #009dc0;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

@media only screen and (max-width: 1024px) {
  button.accordion {
    font-size: 28px;
  }
}

.accordion-content {
  background-color: white;
  padding: 0 40px;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-content > div {
  display: flex;
  padding: 20px 0;
  gap: 10px;
}

button.accordion::before {
  content: url("./Plus_vector.png");
  position: absolute;
  left: 92.4%;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1024px) {
  button.accordion::before {
    left: 88.6%;
    top: 52%;
  }
}

button.accordion.is-open::before {
  content: url("./Minus_vector.png");
}

.case_study {
  background-color: #006ac0;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  .case_study {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.case_study_text {
  font-size: 18px;
  font-weight: 200;
  color: white;
  font-family: "Roboto", sans-serif;
}

.case_study_text_sec {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: white;
}

.testimonials_wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
}

.testimonials_text {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.testimonials_dots {
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  color: #ce0024;
  margin-top: -65px;
}

.flex_three {
  background-color: #fafafa;
  display: flex;
}

.exclusive_title {
  width: 75%;
  font-size: 40px;
  font-weight: 100;
  /* margin-left: 100px; */
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.exclusive_text {
  width: 85%;
  font-size: 18px;
  font-weight: 350;
  margin-top: 25px;
  /* margin-left: 100px; */
  padding-bottom: 25px;
  font-family: "Roboto", sans-serif;
}

.flex_four {
  display: flex;
  align-items: center;
}

.timeline_img {
  width: 50%;
  /* margin-left: 100px; */
}

.pb10 {
  padding-bottom: 10px;
}

.timeline__item {
  position: relative;
  width: 100%;
  padding: 20px 0;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: #3c3c3c;
    top: 0;
    bottom: 0;
    left: 10.21%;
    margin-left: -1px;
  }
  &:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background: #3c3c3c;
    top: 48%;
    bottom: 0;
    left: 10%;
    margin-left: -6px;
    border-radius: 50%;
  }
}

.timeline__item--first {
  padding: 0 0 0 0;

  &:before {
    top: 50%;
  }
}

.timeline__item--last {
  &:before {
    height: 50%;
  }
}

.elevate_text {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 200;
  line-height: 72px;
  width: 85%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .elevate_text {
    font-size: 50px;
  }
}

.btn_2 {
  background: #ce0024;
  border-radius: 6px;
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 50px;
  margin-bottom: 35px;
}

.carousel_1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-top: 75px;
  /* width: 75%;
  margin-left: 35px; */
}

.carousel_2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  color: #03ac63;
  margin-top: 25px;
}

.dolen_navodnik {
  padding: 140px;
  margin-left: 105px;
  margin-top: -140px;
}

.goren_navodnik {
  padding: 140px;
  margin-left: 185px;
  margin-top: -240px;
}

.footer {
  background: #3c3c3c;
  padding: 35px 0;
}

.title_text {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 64px;
  text-align: left;
  padding-top: 100px;
}

.title_text_2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.13px;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 25px;
}

.img_lanza {
  /* padding-left: 125px; */
  padding-top: 125px;
}

.form_style {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  border: none;
  outline: none;
  width: 100%;
}

.team_member_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
